
*{margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   header{
       background-color: dimgray;
       color: white;

       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center; 
   }

   header nav {
       width: 40%;
   }
   


ul li a{
    text-decoration: none;
    color: white;
}


ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
    
  
}
h1{
    font-style:italic ;
    font-weight: 600;
    font-size: 2rem;
}

main{
    /* background-image:url(../img/perro9.jpg);
    background-repeat: no-repeat; */
    /* background-size: 500px; */
    /* background-position: center; */
    /* background-size: cover; */
    /* margin-top: 200px; */
    padding: 80px; 
    color: black; 
    font-weight: 600; 
    font-size: 1rem;
    background:linear-gradient(red, white);
    
    
}


footer{
    background-color: black;
    color: white;
}

.anexo{background-color: darkgray;}

.titulo1{  background-color: darkgray;
    color: black;
    
}
.logos{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
input:focus{background-color: darkgray;
    
}
p::selection {background-color: green;}



/* -----------grid inicio------------ */
/* @media (min-width: 1024px){
.grid-prueba {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 15vh repeat(2.50vh) 10vh ;

grid-template-areas:
    "header header"
    "cuerpo aside"
    "cuerpo aside"
    "footer footer"
    
}
} */


/* .encabezado {grid-area: header;} */

/* .vet {grid-area: cuerpo;} */

.anexo {grid-area: aside;
background-color: darkgrey;}

.pie{grid-area: footer;}


.video{
    transform: translate(200px);
}

a:visited{ 
    color: blue;
}


.imagen1{
    grid-area: img1;
}
.imagen2{
    grid-area: img2;
}
.imagen3{
    grid-area: img3;
}
.imagen4{
    grid-area: img4;
}
.imagen5{
    grid-area: img5;
}
.imagen6{
    grid-area: img6;
}



/* ------------------------galeria---------------- */
@media screen and(min-width:804px) {
    .grilla{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img3 img5"
        "img6 ."
    }
    }
@media (min-width: 1024px) {
.grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
   
    
    grid-template-areas:
    "img3 img2 img5"
    "img3 img4 img6"
    "img3 . img1"


  


    }
    .encabezado{
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
}
.grilla{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

