$redes: (
        linkedin: blue
        facebook: red
        instagram: green)

.botonlinkedin{
    color:map-get($map: redes, $key: linkedin);
}
.botonfacebook{
    color:map-get (redes, facebook);
}
.botoninstagram{
    color:map-get (redes, instagram)
}
