// $color-principal: red;
// $color-secundario: white;

// .c-primario{color: $color-principal;}

// .c-secundario{ color: $color-secundario;}

$linkedin: rgb(0, 213, 255);
$facebook: rgb(255, 162, 0);
$instagram: rgb(0, 128, 58);