.boton{
    background-color: blueviolet;
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 2px solid black;

    &:hover{filter: opacity(85%);}
}

.botonrojo{
    @extend .boton;
    background-color: red;
    color: black;


}
.botonverde{
    @extend .boton;
    background-color: green;
    color: black;
}

.botonaqua{
    @extend .boton;
    background-color: aqua;
    color: black;
}
.carousel-control-next-icon{background-color: black;}
.carousel-control-prev-icon{background-color: black;}
.carousel-control-next{background-color: black;}
.carousel-control-prev{background-color: black;}

.navbar-toggler{background-color: darkgray;}

.enviar{background-color: darkgray;}
.reset{background-color: darkgray;}
.video{
    transform: translate(50px);
}
