footer{display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}

.logos{
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
a{color: white;}