*{margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    
   .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
        
    
    ul{list-style: none;
        
        li{ display: inline-block;
            }
            :link{text-decoration: none;}
            }

main{color: black; 
    font-weight: 600; 
    font-size: 1rem;
    background:linear-gradient(red, white);
    }
    
    
    p::selection {background-color: green;}

    .logo1{
        width: 150px;
        height: 20vh;
    }
    